.UploadSolutionForm {
    bottom: 0;
    position: absolute;
    margin: 2em;
}

.select-language {
    font-family: "JetBrains Mono", serif;
    font-size: .825em;
    display: block;
    padding: .375rem .75rem;
    margin: .5em auto;
    width: 16.5em;
    text-align-last: center;
    text-align: center;
    line-height: 1.5;
    color: black;
    background-color: white;
    background-clip: padding-box;
    border: 2px solid black;
    border-radius: 24px;
    transition: color .3s ease-in-out,
                background-color .3s ease-in-out,
                border-width .0s ease-in-out,
                padding .0s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
    outline: 0;
}
.select-language:hover {
    color: white;
    background-color: black;
    border-width: 0;
    padding: 0.5rem 1.75rem;
}

.select-language option {
    color: black;
    background-color: white;
}

.upload-solution {
    opacity: 0;
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.upload-solution-label {
    display: block;
    font-size: .825em;
    line-height: 1.5;
    text-align: center;
    border: 2px solid black;
    padding: .375rem .75rem;
    margin: .5em auto;
    width: 14.6em;
    color: black;
    border-radius: 24px;
    transition: .3s;
    cursor: pointer;
}

.upload-solution-label:hover {
    color: white;
    background: black;
}

.upload-solution-form {
    text-align: center;
}

.send-solution-button {
    font-family: "JetBrains Mono", serif;
    background: white;
    display: block;
    line-height: 1.5;
    text-align: center;
    border: 2px solid black;
    padding: .375rem .75rem;
    margin: .5em auto;
    width: 16.4em;
    color: black;
    border-radius: 24px;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    outline: 0;
}

.send-solution-button:hover {
    background: black;
    color: white;
    appearance:none;
    outline: 0;
}

.send-solution-button:focus {
    appearance:none;
    outline: 0;
    line-height: 1.5;
    text-align: center;
    border: 2px solid black;
    padding: .375rem .75rem;
}
