.samples-table {
    width: 100%;
    margin-bottom: 2rem;
    color: black;
    margin-top: 2rem;
}

.samples-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid black;
}

.samples-table td,
.samples-table th {
    padding: .75rem;
    vertical-align: top;
    border-bottom: 1px solid black;
}
