.title {
    text-align: left;
    margin-bottom: .5em;
}

.content {
    text-align: left;
    padding-top: 1em;
}

.task-contest {
    text-align: center;
    transition: 0.25s;
    width: 80vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.window-box {
    position: absolute;
    width: 100%;
    transition: all .3s;
    left: 0;
}

.main-window {
    width: 80%;
    margin: auto;
    transition: all .3s;
    /*position: absolute;*/
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
}

.window-box.open-sidebar {
    left: 300px;
    width: calc(100% - 300px);
    transition: all .3s;
}